<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>An toàn Giao Thông</title>
    
</head>
<body>
    <div class="navbar">
        <li ><a href="/">Đội nón bảo hiểm</a></li>
        <li ><a href="index2.ejs" class="acitve">Tham gia giao thông khi chưa đủ 18 tuổi</a></li>
    </div>
 
    <div class="image d-flex">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img src="../image/image1.jpg" alt="asd" class="w-100">
                    <p class="text-center"></p>
                </div>
                <div class="col-6">
                    <img src="../image/hetcuu.jpg" alt="" class="w-100">
                </div>
                <h4>Học sinh mà chưa đủ độ tuổi quy định tại Điều 60 Luật giao thông đường bộ năm 2008 mà điều khiển các loại xe mô tô, xe gắn máy như phân tích ở trên thì có thể bị xử lý vi phạm hành chính như sau:</h4>

                <p>- Căn cứ khoản 11 Điều 2 Nghị định 123/2021/NĐ-CP thì phạt cảnh cáo với học sinh từ đủ 14 tuổi đến dưới 16 tuổi điều khiển xe mô tô, xe gắn máy, xe đạp điện;
                    
                    Điểm a Khoản 4 Điều 21 Nghị định 100/2019/NĐ-CP được sửa đổi, bổ sung bởi Nghị định 123/2021/NĐ-CP có quy định:
                    
                    Xử phạt các hành vi vi phạm quy định về điều kiện của người điều khiển xe cơ giới, cụ thể:
                    
                    Phạt tiền từ 400.000 - 600.000 đồng đối với một trong các hành vi vi phạm sau đây:
                    
                    Người từ đủ 16 tuổi đến dưới 18 tuổi điều khiển xe mô tô có dung tích xi lanh từ 50 cm3 trở lên” </p>
                    
                <p> - Như vậy, đối với học sinh từ đủ 14 tuổi đến dưới 16 tuổi điều khiển xe mô tô, xe gắn máy sẽ áp dụng hình thức xử phạt hành chính nhẹ nhất là cảnh cáo. Từ đủ 16 tuổi đến dưới 18 tuổi, có thể bị phạt tiền lên đến 600.000 đồng với hành vi này.
                    
                    Đối với người đủ 18 tuổi trở lên mới được lái xe mô tô có dung tích xi-lanh từ 50 cm3 trở lên.</p>
            </div>
        </div>
    
    </div>


      <script src="../public/js/onClick.js"></script>
</body>
</html>