<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>An toàn Giao Thông</title>
    
</head>
<body>
    <div class="navbar">
        <li ><a href="/" class="acitve">Đội nón bảo hiểm</a></li>
        <li ><a href="index2.ejs">Tham gia giao thông khi chưa đủ 18 tuổi</a></li>
    </div>
 
    <div class="image d-flex">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img src="../image/cho3nguoi.jpg" alt="asd" class="w-100">
                    
                </div>
                <div class="col-6">
                    <img src="../image/doicainonvao.jpg" alt="" class="w-100">
                </div>
                <h1>1. Liên hợp quốc khuyến cáo nên đội mũ bảo hiểm cho trẻ em.</h1>
                <p style="font-size: 16px;"> Từ năm 2008, tại Hà Nội, tổ chức Liên hợp quốc đã kêu gọi các bậc phụ huynh ở Việt Nam đội nón bảo hiểm phù hợp về kích cỡ cho con để giảm thiểu tai nạn khi tham gia giao thông.
                    Đại diện Quỹ nhi đồng Liên hợp quốc tại Việt Nam cho rằng việc thực thi đội mũ bảo hiểm cho trẻ em thể hiện cam kết nghiêm túc của chính phủ trong việc bảo vệ tính mạng và phòng ngừa thương tích.
                    Đội mũ bảo hiểm là trách nhiệm của người lớn. Thực tế cho thấy, việc mũ bảo hiểm cho bé đi xe máy đã góp phần rất lớn giảm tỷ lệ chấn thương sọ não do tai nạn gây ra
                    Các tổ chức thế giới khuyên các bậc phụ huynh nên đội nón bảo hiểm cho con
                    Tổ chức y tế thế giới (WHO) cũng nhấn mạnh thêm một lần nữa, đội mũ bảo hiểm cho trẻ em thực sự là trách nhiệm của người lớn. Và các bậc phụ huynh nên biết rằng, chưa có một bằng chứng nào cho thấy việc đội mũ bảo hiểm đúng cách gây tổn thương ở cổ.
                    Ngược lại, thực tế đã chứng minh, đội nón bảo hiểm từ các cơ sở sản xuất nón bảo hiểm đúng chất lượng, đúng cách là biện pháp hữu hiệu giảm tỷ lệ thương tích ở đầu và tử vong do tai nạn xe máy, xe mô tô.
                </p>
                <h1>2. Đội mũ bảo hiểm cho con là trách nhiệm của cha mẹ. </h1>
                <p style="font-size: 16px;">Không phải chỉ đến khi các tổ chức có liên quan đưa ra lời khuyên thì chúng ta mới nhận ra rằng đội mũ cho con là trách nhiệm của các bậc phụ huynh. Mà trách nhiệm đó, phải xuất phát từ tình yêu bao la và khao khát bảo vệ mãnh liệt của người làm cha làm mẹ đối với con cái.
                    Người lớn chúng ta dường như đã quen với việc đội nón bảo hiểm khi đi xe gắn máy ra đường nhưng thường lại không mấy chú ý việc đội nón bảo hiểm cho trẻ vì lý do: trẻ em chỉ đi kèm thôi.
                    Đó chính là những sai lầm dẫn đến hậu quả đáng tiếc cho nhiều ông bố bà mẹ.
                    Đừng quên đội nón bảo hiểm cho trẻ khi đi xe máy! Bạn phải bảo vệ con mình trước những bất trắc có thể xảy ra bất cứ lúc nào.
                    Cẩn trọng một chút trong đi lại hằng ngày, chúng ta không mất mát gì cả, nhưng đảm bảo cho các thiên thần của mình luôn được an toàn.
                </p>           
                <h1>3. Hãy tạo thói quen đội nón cho trẻ em.</h1>
                <p style="font-size: 16px;"> Nếu như bạn quen với việc đội nón bảo hiểm khi ra đường như sự tự ý thức bảo vệ bản thân mà không phải vì đối phó với pháp luật, thì cũng hãy tạo thói quen bảo vệ con cái của mình như thế.
                    Tạo thói quen đội nón bảo hiểm cho các con khi đi xe máy, bạn sẽ đồng thời tạo cho con cảm giác không thể thiếu một chiếc nón bảo hiểm khi ra đường.
                    Điều này tốt cho bé về sau khi đã hình thành ý thức và nhận biết hành động. Bé sẽ mặc định đi xe máy là phải đội nón bảo hiểm, bạn không cần phải nhắc nhở hay giải thích rườm rà.
                    Nói cho trẻ biết mũ bảo hiểm là người bạn hữu ích
                    Đội mũ bảo hiểm cho trẻ, quan trọng nhất là bạn phải thuyết phục bé trong lần đầu tiên. Các bậc phụ huynh không nên ép con, không nên đe dọa bé, khiến bé cảm thấy miễn cưỡng, bị ràng buộc.
                    Sự ham thích trong lần đầu tiên là cực kỳ quan trọng. Nó tạo nên ấn tượng tốt hoặc không tốt trong não bộ còn non nớt của trẻ con.
                    Bạn hãy từ từ giảng giải cho bé những lợi ích mà mũ bảo hiểm mang lại cho con người. Nếu có thể, hãy nói điều đó bằng ngôn ngữ của trẻ con, giúp bé dễ dàng cảm nhận và hiểu.
                    Hãy nói rằng, các cô chú làm mũ bảo hiểm trẻ em là để bố mẹ được quan tâm con nhiều hơn. Mũ bảo hiểm không có gì đáng sợ, mà nó rất “hiền”, rất “tốt bụng”.
                    Mũ bảo hiểm như một người bạn đáng yêu, sẽ đi cùng con trong trên đường và bảo vệ con khi cần thiết.</p>
                <h1>4. Chọn cho trẻ kiểu mũ phù hợp với lứa tuổi.</h1>
                <p style="font-size: 16px;">
                    Các bậc phụ huynh cần có đầy đủ những kiến thức cơ bản về việc mua và đội mũ bảo hiểm cho bé, để không gây ra tác dụng ngược.
                    Đối với trẻ em, bạn cần được tư vấn kỹ trong việc cách chọn mũ bảo hiểm cho trẻ em sao cho phù hợp với độ tuổi và sở thích của con mình.
                </p>
        
            </div>
        </div>
    
    </div>


      <script src="../public/js/onClick.js"></script>
</body>
</html>